.App {
  text-align: center;
}

.App-header {
  background-color: #055516;
  height: 50px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}
