.login-form-container {
  background: linear-gradient(
      rgba(1, 23, 5, 0.4), 
      rgba(1, 23, 5, 0.4)), url('https://www.desktopbackground.org/p/2014/08/07/805615_golf-rickie-fowler-exploits-players-2015-youtube_1920x1080_h.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 20px;
}

.login-form {
  background-color: rgb(243, 243, 243, .65);
  width: 25%;
  margin: 1em auto;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}

.inputs {
  width: 82%;
  margin-bottom: 10px;
  border: none;
  border-radius: 2px;
  padding: 4px 8px;
  color: #283e4a;
}

label {
  margin-bottom: 8px;
  font-weight: 600;
}

.login-button {
  color: #fff;
  background-color: darkgreen;

}

