.parallax { 
    height: 400px; 
    min-height: fit-content; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-parallax {
  background-image: url('https://www.desktopbackground.org/p/2011/11/09/294104_augusta-national-wallpapers-wallpapers-cave_1440x900_h.jpg')
}

.second-parallax {
  background-image: url('https://www.desktopbackground.org/p/2015/07/05/974524_augusta-national_800x500_h.jpg')
}

.third-parallax {
  background-image: url('https://www.desktopbackground.org/p/2013/04/28/567868_augusta-national-wallpapers-wallpapers-cave_1280x960_h.jpg')
}

.fourth-parallax {
  background-image: url('https://www.desktopbackground.org/p/2015/07/05/974524_augusta-national_800x500_h.jpg')
}

.parallax-text-sections {
  margin-bottom: -20px;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #011705;
  color: #fff;
}

.parallax-headers {
  vertical-align: middle;
  margin: 0;
  font-size: 1.3em;
}

.welcome-header {
  padding-top: 10px;
}