.Draft {
  padding-top: 1rem;
}

.draft-sections {
  width: 100%;
}

.top-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bottom-section {
  width: 97.5%;
  margin: 0.6rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.draft-containers {
  min-height: 15vh;
  border: 1px solid black;
}

.draft-tourn-details-container {
  width: 58%;
}

.draft-order-container {
  width: 38%;
}

.undrafted-players-container {
  width: 64%;
}

.drafted-players-container {
  width: 34%;
}

.golfer-draft-card {
  min-height: 2rem;
}