.contestants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2em;
}

.contestants-card {
  width: 28%;
  border: 1px solid #fff;
  margin: 25px 10px 40px 10px;
  background-color: rgba(11, 62, 21, 0.392);
}

.contestants-text {
  color: #fff;
  font-size: 0.8rem;
}

.contestant-name {
  font-size: 1rem;
}

.career-wins {
  font-size: 0.8rem;
}

.contestant-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}