.schedule-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: linear-gradient(
      rgba(1, 23, 5, 0.4), 
      rgba(1, 23, 5, 0.4)), url('https://www.desktopbackground.org/p/2013/04/28/567868_augusta-national-wallpapers-wallpapers-cave_1280x960_h.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 10px 0 40px 0;
}

.tournament-card {
  min-width: fit-content;
  min-height: 234px;
  border: 1px solid black;
  background-color: rgb(243, 243, 243, .9);
  text-decoration: none;
  border-radius: 5px;
}

.tournament-card-container {
  width: 22%;
  margin: 15px 3px 0 3px;
  padding: 10px 0;
}

.card-link {
  text-decoration: none;
  color: #333;
}